---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'

import {  } from 'astro:db'
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-red-500">TODO App</h1>

	</main>
</Layout>

<style>
</style>
